.Dashboard {
	/* padding-top: 1rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow-y: auto;
	scrollbar-width: none;
}

.topDiv {
	align-self: flex-start;
}

.bottomDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: space-between;
}

@media screen and (max-width: 1200px) {
	.Dashboard {
		justify-content: flex-start;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.Dashboard {
		align-items: center;
	}
}
