.container {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.box {
	max-height: 444px;
	padding: 25px 0;
	/* box-shadow: 0px 1px 22px -12px #dee5e8; */
	background-color: #616161;
	border-radius: 10px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.column1 {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	border-radius: 0.7rem;
	background-color: #616161;
	padding: 1rem;
	position: relative;
	width: 20vw;
	margin-top: 30px;
}
.column2 {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	border-radius: 0.7rem;
	background-color: #616161;
	padding: 1rem;
	position: relative;
	width: 20vw;
	margin-top: 30px;
}
.column3 {
	display: flex;
	flex-direction: column;
	min-height: 30vh;
	border-radius: 0.7rem;
	background-color: #616161;
	padding: 1rem;
	margin-left:30px ;
	position: relative;
	width: 20vw;
	margin-top: 30px;
}


/* @media (min-width: 768px) {
	
	.column1,
	.column2,
	.column3 {
	  width: 60vw;
	  margin-left: 30px;
	  padding: 3px 0 0 0;
	  position: relative;
	  margin-right: 30px;
	}
  } */

  /* @media (min-width: 992px) {
	/* Styles for screens larger than or equal to 992px (e.g., iPhone Plus landscape) */
	/* .column1,
	.column2,
	.column3 {
	  width: 20vw;
	  margin-left: 30px;
	}
  } */ 