button:hover{
    background-color: #29d32f;

}

h3{
    font-family: 'Inter', sans-serif;
    
}

input{
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #f1e7e7f2;
    padding: 5px;
    margin: 5px;
    width: 98%;
    height: 40px;
    box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
}


	.Budget{
		align-items: center;
        max-height: max-content;
	

    /* background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  ); */
  /* --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem; */
  
}


.space{
    margin-top: 75px;
}

button{
    display: relative;
}