
.budget {
	/* padding-top: 1rem; */
	display: flex;
	flex-direction: column;
	justify-content:  space-between;;
	overflow-y: auto;
	scrollbar-width: none;
	color: white;
	overflow-x: hidden;
}

.topDivision {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.bottomDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: space-between;
}






.box {
	max-height: 444px;
	padding: 25px 0;
	/* box-shadow: 0px 1px 22px -12px #dee5e8; */
	background-color: #616161;
	border-radius: 10px;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* .columnb {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	
	
} */




.column3 {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 350;
	margin-right: 100px;
	margin-left: 260px;
	margin-top: 10px;

	
	
	
}


	
	
	
	
	
	









/* .Budget {
	overflow-y: auto;
	scrollbar-width: none;
	color: white;
}

/* :hover {
	background-color: #29d32f;
}button */

/* h4 {
	font-family: 'Inter', sans-serif;
} */ 

/* input {
	font-family: 'Inter', sans-serif;
	font-size: 1.2rem;
	border-radius: 5px;
	border: 1px solid #f1e7e7f2;
	padding: 5px;
	margin: 5px;
	width: 98%;
	height: 40px;
	box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
} */

/* .Budget {
	align-items: center;
	max-height: max-content;
} */

	/* background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  ); */
	/* --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  border-radius: 2rem; */

/* 
.space {
	margin-top: 75px;
}
.inline{
   display: inline;
}

.block{
	display: block;
}

button {
	display: relative;
	margin: 4px;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #4a4d4a;
}

.flex-container{
	display: flex;
	margin-top: 5px;
}

.green {
	color: #35c33a;
	font-family: 'Inter', sans-serif;
	margin-left: 600px;
	margin-top: 17px;
	font-weight: 500;
}

.spaces {
	margin-top: 13px;
}


.close{

	display: none;

}

.margin{
	margin-top: 15px;
	margin-left: 8px;

}

.btnstyle{

	
    cursor: pointer;


}



.box{
  
	color: #0c0e0c;
	font-family: 'Inter', sans-serif;
	margin-left: 600px;
	margin-top: 17px;
	font-weight: 500;

}


.Dashboard {
	/* padding-top: 1rem; */
	/* display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow-y: auto;
	scrollbar-width: none;
	color: white;
}

.topDiv {
	align-self: flex-start;
}

.bottomDiv {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: space-between;
}

@media screen and (max-width: 1200px) {
	.Dashboard {
		justify-content: flex-start;
		margin-top: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.Dashboard {
		align-items: center;
	}
}



.style{
	
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #f1e7e7f2;
	width: 100px;
	height: 30px;
	box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
}


.grid-container {
	

	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	gap: 20px 10px;
  } */ 